<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 
      1. Сетевые привилегии:
      Необходимы для работы неблокирующего сокет-движка Ktor CIO и сетевой телеметрии TrafficStats
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 
      2. Декларация видимости пакетов:
      Гарантирует открытие внешних ссылок веб-источников Google Search Grounding в браузере
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:label="ClientG"
        android:icon="@android:drawable/sym_def_app_icon"
        android:roundIcon="@android:drawable/sym_def_app_icon"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:hardwareAccelerated="true"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="false"
        android:allowBackup="false"
        android:appCategory="productivity">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode|density"
            android:resizeableActivity="true">

            <!-- 
              Поддержка разделения экрана (Split-Screen) и Samsung DeX на Galaxy S23 Ultra.
              Габариты 280x320dp гарантируют свободное деление экрана 50/50 в портретной ориентации.
            -->
            <layout
                android:minWidth="280dp"
                android:minHeight="320dp" />

            <!-- Главная точка входа (Launcher) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 
              Системный перехват одиночного текста и документов:
              Ограничен строго текстовыми форматами без бинарного application/octet-stream
            -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/x-yaml" />
                <data android:mimeType="application/javascript" />
            </intent-filter>

            <!-- Системный перехват пакета текстовых файлов из проводника -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="application/x-yaml" />
                <data android:mimeType="application/javascript" />
            </intent-filter>

        </activity>

    </application>

</manifest>